<div class="container">
    <div class="row" >
        <div class="row" *ngIf="sac">
            <div class="col-6" *ngIf="first" >
                <input class="form-control form-control-sm form-control-md form-control-lg" type="text" placeholder="designation sac" name="sacg" [(ngModel)]="sac_name">
            </div>
            <div class="col-6" *ngIf="first">
                <select name="sac" id="sc" class="form-select form-select-lg mb-3 form-select-md form-select-sm" aria-label="sacisizecolor" (change)="OnsizeChange($event)">
                    <option  value="Choix de la taille" selected>Choix de la taille</option>
            
                    <option *ngFor="let item of list_sac" [value]="item">{{item}}</option>
                </select>
            </div>
    
        
                <div class="col-6" *ngIf="first">
                    <label for="comment_cloth" class="form-label">Description</label>
                    <textarea class="form-control" placeholder="Dscrire le produit" id="comment_cloth" name="comment_cloth" style="height: 100px" [(ngModel)]="sac_dec"></textarea>
                  </div> 
    
            <div class="col-4">
                <div class="btn"  *ngIf="first"><i class="fas fa-forward" style="color: green;" (click)="gotoSecond()"></i></div>
    
            </div>
           
        
        
        </div>
    
    <div class="row" >
    
        <div class="col-4" *ngIf="second" >
            <label for="file1">Image1:face1</label>
    
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file1" required (change)="uploadfile1($event)">
                <label class="custom-file-label" for="validatedCustomFile">Choix file...</label>
              </div>
        </div>
    
        <div class="col-4" *ngIf="second">
            <label for="File1">Image1:face2</label>
    
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="File1" required (change)="uploadfile2($event)">
                <label class="custom-file-label" for="FILE1">Choix file...</label>
              </div>
        </div>
        <div class="col-4" *ngIf="second">
            <label for="filed">Image2:face1</label>
    
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="filed" required (change)="uploadfile3($event)">
                <label class="custom-file-label" for="FILE1">Choix file...</label>
              </div>
        </div>
    
        <div class="col-4" *ngIf="second">
            <label for="F">Image2:face2</label>
    
            <div class="custom-file">
    
                <input type="file" class="custom-file-input" id="F" required (change)="uploadfile4($event)">
                <label class="custom-file-label" for="FILE1">Choix file...</label>
              </div>
        </div>
        
    
       
        <div class="row"  *ngIf="sh">
            <div class="col-4" >

            <div class="btn " *ngIf="first==false && third==false">
                <i class="far fa-backward"  (click)="gotoSecond()" style="color: green;"></i>
            </div>
        </div>

            
            <div class="col-3" >
                
            <div class="btn" *ngIf="second"><i class="fas fa-forward" style="color: green;"(click)="gotoThirdSh()" ></i></div>
    
        </div>
   
    </div>
   
        <div class="row"  *ngIf="sac">
          <div class="col-3">
            <div class="btn" *ngIf="first==false && third==false && fourth==false">
                <i class="far fa-backward"  (click)="gotoSecond()" style="color: green;"></i>
            </div>
          </div>
          
            
            <div class="col-3" style="bottom: 0%; top: 0%;">
                

            <div class="btn" *ngIf="second"><i class="fas fa-forward" style="color: green;"(click)="gotoThird()" ></i></div>
    
        </div>
   
    </div>
    
    <div class="row" *ngIf="third">
        <form class="row g-3" >
        
            <div class="col">
                <div class="btn" ><i class="fas fa-backward" style="color: green;"(click)="gotoThird()" ></i></div>
    
                <div class="btn" ><i class="fas fa-forward" style="color: green;"(click)="gotoFourth()" ></i></div>
       
            </div>
            Couleurs:
            <hr>
            <color-circle [colors]="colors" (onChange)="changeComplete($event)"></color-circle>
        
            
    <div class="row" *ngIf="hascolor">
    
        <div class="col-6">
                <label for="File1">face1</label>
        
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="File1" required>
                    <label class="custom-file-label" for="FILE1">Choix file...</label>
            </div>
    
        </div>
    
        <div class="col-6">
            <label for="File1">face2</label>
    
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="File1" required>
                <label class="custom-file-label" for="FILE1">Choix file...</label>
        </div>
    
        <div class="col-3" style="float: right; margin-right: 25%;top: 10%;" >
            <button class="btn"><i class="fas fa-check-circle fa-5x" style="color: green;"></i></button>
        </div>
    
    </div>
    </div>
        </form>   
        </div>
    
    
        <div class="row" *ngIf="fourth">
            <div class="col">
                <div class="btn" ><i class="fas fa-backward" style="color: green;"(click)="gotoFourth()" ></i></div>
    
                <div class="btn" ><i class="fas fa-forward" style="color: green;"(click)="getbacktofirst()" ></i></div>
       
            </div>
            <hr>
            <app-editor></app-editor>
        </div>

</div>
</div>




<div class="row" >

    <div class="col-3" *ngIf="sachet">
        <input class="form-control form-control-sm form-control-md form-control-lg" type="text" placeholder="designation sachet" name="sachet" [(ngModel)]="sachet_name">
    </div>
    <div class="col-3" *ngIf="sachet">
        <select name="sachet" id="sachet" class="form-select form-select-lg mb-3" aria-label="sacisizecr" >
            <option  value="Choix de la taille" selected>Choix de la taille</option>
    
            <option *ngFor="let item of list_sachet" [value]="item">{{item}}</option>
        </select>
</div>
<div class="col-6" *ngIf="sachet">
    <label for="comment_cloth" class="form-label">Description</label>
    <textarea class="form-control" placeholder="Dscrire le produit" id="comment_c" name="commenth" style="height: 100px" [(ngModel)]="sachet_dec"></textarea>
  </div> 

<div class="col-3" *ngIf="sachet">
    <div class="form-check form-switch" >
        <input class="form-check-input" type="checkbox" id="sachetcolor">
        <label class="form-check-label" for="sachetcolor">couleurs ?</label>
      </div>
</div>
<div class="col-3" *ngIf="sachet">
    <div class="btn"  *ngIf="first"><i class="fas fa-forward" style="color: green;" (click)="gotoSecond()"></i></div>

</div>
</div>
    
</div>