

 <a id="pdf" href="" download="true">download</a>
 <a  class="btn" (click)="renderPdf()" id="imdone">download</a>

 <div class="pdf-viewer">
	<div id="pspdfkit-container" style="width: 100%; height: 100vh"></div>
</div>
 <div class="container">

    <table class="table" id="mypdf" style="width: 297;height:210;">
        iycç_yf_yfç
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        
        </tbody>
      </table>

   
 </div>