<br><br><br>
<div class="container">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="prog">{{progres}}%</div>
  </div>
  <br><br><br>

  <form class="row g-3" *ngIf="is_step_one" >
      <div class="col-md-6">
        <label for="name_cloth" class="form-label">Nom</label>
        <input type="text" class="form-control" id="name_cloth" name="name_cloth" [(ngModel)]="step_one.name">
      </div>
      <div class="col-md-6">
        <label for="comment_cloth" class="form-label">Description</label>
        <textarea class="form-control" placeholder="Dscrire le produit" id="comment_cloth" name="comment_cloth" style="height: 100px" [(ngModel)]="step_one.comment"></textarea>
      </div>
      <div class="col-4">
        <label for="price_cloth" class="form-label">Prix</label>
        <input type="number" class="form-control" id="price_cloth" placeholder="500" name="price" [(ngModel)]="step_one.price">
      </div>
      <div class="col-2">
        <label for="file_cloth" class="form-label">Image1:face1</label>
        <input type="file" class="form-control" id="file1_cloth" (change)="file_upload($event)">
      </div>
      <div class="col-2">
        <label for="file2_cloth" class="form-label">Image1:face2</label>
        <input type="file" class="form-control" id="file2_cloth" (change)="file_upload($event)" >
      </div>
      <div class="col-2">
        <label for="file_cloth" class="form-label">Image2:face1</label>
        <input type="file" class="form-control" id="file3_cloth"(change)="file_upload($event)" >
      </div>
      <div class="col-2">
        <label for="file2_cloth" class="form-label">Image2:face2</label>
        <input type="file" class="form-control" id="file4_cloth" (change)="file_upload($event)" >
      </div>

      <div class="col-3">
<button class="btn btn-success" (click)="get_step_two()">suivant</button>        
      </div>
  
</form>
<form class="row g-3" *ngIf="is_step_two" >

    <br><br>
Taille
<hr>
<div class="col-3">
  <div class="form-check form-switch col-auto">
    <input class="form-check-input" type="checkbox" id="M_cloth" name="m_cloth" [(ngModel)]="step_two.m">
    <label class="form-check-label" for="M_cloth">M</label> 

  </div>
</div>
<div class="col-3">
  <div class="form-check form-switch col-auto">
    <input class="form-check-input" type="checkbox" id="L_cloth" nam="L_cloth" [(ngModel)]="step_two.l">
    <label class="form-check-label" for="L_cloth">L</label> 
  </div>
</div>
<div class="col-3">
  <div class="form-check form-switch col-auto">
    <input class="form-check-input" type="checkbox" id="XL_cloth" name="sl_cloth" [(ngModel)]="step_two.xl">
    <label class="form-check-label" for="XL_cloth">XL</label> 

  </div>
</div>
<div class="col-3">
  <div class="form-check form-switch col-auto">
    <input class="form-check-input" type="checkbox" id="XXL_cloth" name="xxl" [(ngModel)]="step_two.xxl">
    <label class="form-check-label" for="XXL_cloth">XXL</label> 
  </div>
</div>
<div class="col-3">
  <button (click)="get_back_to_step_one()" class="btn btn-warning">
     précedent
  </button>
</div>
<div class="col-3">
  <button class="btn btn-success" (click)="get_step_three()">suivant</button>        
        </div>
</form>

<form class="row g-3" *ngIf="is_step_three" >

<br><br>
Type d'impression
<hr>
<div class="col-3">
  <div class="form-check form-switch col-auto">
    <input class="form-check-input" type="checkbox" id="sg_cloth" name="sg" [(ngModel)]="step_three.sg">
    <label class="form-check-label" for="sg_cloth">Sérigraphie</label> 
  </div>
</div>

<div class="col-3">
  <div class="form-check form-switch col-auto">
    <input class="form-check-input" type="checkbox" id="flex_cloth" name="fl"  [(ngModel)]="step_three.fl">
    <label class="form-check-label" for="flex_cloth">Flexe</label> 
  </div>
</div>
<div class="col-3">
  <button (click)="get_back_to_step_two()" class="btn btn-warning">
     précedent
  </button>
</div>
<div class="col-3">
  <button class="btn btn-success" (click)="get_step_four()"> 
    <span  *ngIf="loading==false"> suivant </span>
  <span class="spinner-grow spinner-grow-sm text-warning" role="status" aria-hidden="true"  *ngIf="loading"></span>
   <span *ngIf="loading" class="text-white text-small">Loading...</span> 
</button>        
        </div>
</form>

<br><br><br><br>
<br><br>
<form class="row g-3" *ngIf="is_step_four" >

Couleurs:
<hr>
<color-circle [colors]="colors" (onChange)="changeComplete($event)"></color-circle>
<div class="col-1" *ngFor="let src of Images">
  <img [src]="src" width="50" height="50" *ngIf="imageset">
</div>
<div class="col-3">
  <button (click)="get_back_to_step_three()" class="btn btn-warning">
     précedent
  </button>
</div>

<div class="col-3">
  <button class="btn btn-success" (click)="get_step_five()">suivant</button>        
        </div>
</form>


<div class="row"  *ngIf="is_step_five">
  <div class="col-3">
    <button class="btn btn-warning" (click)="get_back_to_step_four()">précedent</button>
  </div>
  <div class="col-3">
    <button class="btn btn-secondary" (click)="get_to_step_one()">Continuer</button>
  </div>
  <app-editor [disp_image]="file1" [dip]="file2" [arg3]="file3" [arg4]="file4" [img_id]="img_id"></app-editor>


</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FILE_COLOR" id="file_color"hidden>
file-upload</button>

<div class="modal fade" id="FILE_COLOR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: red;">
          Choisir le fichier image au format png et 600*600 comme taille</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <color-circle [colors]="current_array"></color-circle>
        <br><br>
        <span class="spinner-grow spinner-grow-sm text-warning" role="status" aria-hidden="true"  *ngIf="loading"></span>
        <span *ngIf="loading" class="text-white text-small">Loading...</span> 
        <i class="fa fa-file-image fa-3x " style="color: red;"></i> <br><br>
         <input type="file" name="color_ile" id="color_fle" (change)="file_Upload($event)">  
         <br>
         <input type="file" name="color_ile" id="col_fle" (change)="_Upload($event)">  
          <a class="btn" data-bs-dismiss="modal">Annuler</a>
          <br>
          <a class="btn" (click)="onUploaded()">Enregitrer</a>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="saveclr"hidden>ok</button>
      </div>
    </div>
  </div>
</div>
</div>
<br><br><br>
