<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="" alt="">
        </div>
        <div class="col-6">
            <img src="" alt="">
        </div>
    </div>
</div>
