body {
  background: #304FFE
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important
}

.dashboard-header .navbar {
  padding: 0px;
  border-bottom: 1px solid #e6e6f2;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  //-webkit-transition: all 0.3s ease;
  min-height: 60px;
  background: radial-gradient(circle at 0% -25%,#FF8947 0%,#FF8354 0,#DA2C94 42%,#3E13A5 110%);
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  padding: 11px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #007bff
}

.navbar-brand:hover {
  color: #007bff
}



.navbar-right-top .nav-item {
  border-right: 1px solid #e6e6f2
}

.navbar-right-top .nav-item:last-child {
  border: none
}

.navbar-right-top .nav-item .nav-link {
  padding: 13px 113px;
  font-size: 16px;
  line-height: 2;
  color: #82849f
}

.top-search-bar {
  padding-top: 12px;
  padding-right: 24px
}

.notification-dropdown {
  min-width: 320px
}

.notification-dropdown,
.connection-dropdown,
.nav-user-dropdown {
  padding: 0px;
  margin: 0px
}

.notification-title {
  font-size: 14px;
  color: #3d405c;
  text-align: center;
  padding: 8px 0px;
  border-bottom: 1px solid #e3e3e3;
  line-height: 1.5;
  background-color: #fffffe
}


.notification-list .list-group-item {
  border-radius: 0px;
  padding: 12px;
  margin-top: -1px;
  border-left: transparent;
  border-right: transparent
}

.notification-list .list-group-item.active {
  z-index: 2;
  color: #3d405c;
  background-color: #f7f7fb;
  border-color: #e1e1e7
}

.notification-list .list-group-item-action:focus,
.list-group-item-action:hover {
  color: #404040;
  text-decoration: none;
  background-color: #f7f7fb
}


.notification-info .notification-date {
  display: block;
  font-size: 11px;
  margin-top: 4px;
  text-transform: uppercase;
  color: #71748d
}

.notification .dropdown-toggle::after,
.connection .dropdown-toggle::after,
.nav-user .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: none
}

.notification-list-user-img {
  float: left
}

.notification-list-user-block {
  padding-left: 50px;
  font-size: 14px;
  line-height: 21px
}

.notification-list-user-name {
  color: #5969ff;
  font-size: 14px;
  margin-right: 8px
}

.list-footer,
.conntection-footer {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  line-height: 1.5;
  font-weight: 700;
  background-color: #5969ff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px
}

.list-footer a,
.conntection-footer a {
  color: #fff
}

.list-footer a:hover,
.conntection-footer a:hover {
  color: #fff
}

.indicator {
  content: '';
  position: absolute;
  top: 16px;
  right: 23px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ef172c;
  animation: .9s infinite beatHeart;
  transform-origin: center
}

@keyframes beatHeart {
  0% {
      transform: scale(0.9)
  }

  25% {
      transform: scale(1.1)
  }

  40% {
      transform: scale(0.9)
  }

  60% {
      transform: scale(1.1)
  }

  100% {
      transform: scale(0.9)
  }
}



.connection-list {
  width: 300px;
  padding: 20px
}

.connection-item {
  border-radius: 3px;
  line-height: 32px;
  text-align: center;
  padding: 12px 7px 4px;
  display: block;
  border: 1px solid transparent;
  color: #3d405c;
  font-size: 12px
}

.connection-item img {
  width: 32px
}

.connection-item:hover {
  background-color: #fff;
  border: 1px solid #e6e6f2
}

.connection-item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}


.nav-user-dropdown {
  padding: 0px;
  min-width: 230px;
  margin: 0px
}


.nav-user-info {
  background-color: #5969ff;
  line-height: 1.4;
  padding: 12px;
  color: #fff;
  font-size: 13px;
  border-radius: 2px 2px 0 0
}

.nav-user-info .status {
  float: left;
  top: 7px;
  left: 0px
}


.nav-user-dropdown .dropdown-item {
  display: block;
  width: 100%;
  padding: 12px 22px 15px;
  clear: both;
  font-weight: 400;
  color: #686972;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  line-height: 0.4
}

.nav-user-dropdown .dropdown-item:hover {
  background-color: #f7f7fb
}

.user-avatar-xxl {
  height: 128px;
  width: 128px
}

.user-avatar-xl {
  height: 90px;
  width: 90px
}

.user-avatar-lg {
  height: 48px;
  width: 48px
}

.user-avatar-md {
  height: 32px;
  width: 32px
}

.user-avatar-sm {
  height: 24px;
  width: 24px
}

.user-avatar-xs {
  height: 18px;
  width: 18px
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 2px solid #F7F9FA;
  background: #F7F9FA;
  color: #fff
}

.media-attachment div.avatar {
  border: none
}

.avatar.bg-primary {
  display: flex;
  align-items: center;
  justify-content: center
}

.avatar.bg-primary i {
  font-size: 14px
}
.mb-3{
  margin-top: 90px;
  margin-left: 60px;
}
.tab-content{
  margin-left: 60px;
  margin-top: 30px;
  width: 90%;
}
.table thead .th{
  width: 10%;
  vertical-align: middle;
  text-align: center;
}
td{
  vertical-align: middle;
  font-size:16px;
  font-family: 'Poppins',sans-serif;
  text-align: center;
}
.btne{
  border:solid 2px white;
  background-color: transparent;
  //padding: 13px 143px;
  margin-right:111px;
  margin-top:17px;
  font-family:'Roboto',sans serif;
  font-size:15px;
  border-radius:30px;
  box-shadow: none;
  color: white;
  font-weight: bold;
  font-style: italic;
}
.nav-link{
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: bold;
  color: darkblue;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff;
  background: radial-gradient(circle at 0% -25%,#FF8947 0%,#FF8354 0,#DA2C94 42%,#3E13A5 110%);

}
//css order
.header-text{
  color: #324161;
}

.cart-block{
  margin:1% 0% 4% 0%;
}

.text-right{
  font-weight: bold;
}

.total{
  font-weight: bold;
}

.entete{
  font-weight: bold;
}

.text-center{
  margin-bottom: 10px;
}

// barre de recherche et tri ....
.wrap{
  padding: 0 20px;
}

.wrap h1.heading-inline {
  display: inline-block;
  margin-right: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #324161;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}

.header-end {
  visibility: hidden;
  margin: -2px 0 0;
}

.subsubsub {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  font-size: 13px;
  float: left;
  color: #646970;
}

.subsubsub li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.subsubsub a.current {
  color: #000;
  font-weight: 600;
  border: none;
}

.subsubsub a {
  line-height: 2;
  padding: .2em;
  text-decoration: none;
}

.subsubsub a .count, .subsubsub a.current .count {
  color: #50575e;
  font-weight: 400;
}

a, div {
  outline: 0;
}
p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
form {
  display: block;
  margin-top: 0em;
}



.screen-reader-text, .screen-reader-text span {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal!important;
}

input[type=search] {
  -webkit-appearance: textfield;
}


input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
}

p .button {
  vertical-align: baseline;
}

p.search-box {
  float: right;
  margin: 0;
}


.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag {
  float: left;
  margin: 0 4px 0 0;
}

.button,.button-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.button,.button-secondary {
  color: #2271b1;
  border-color: #2271b1;
  background: #f6f7f7;
  vertical-align: top;
}
.tablenav {
  clear: both;
  height: 30px;
  margin: 6px 0 4px;
  padding-top: 5px;
  vertical-align: middle;
}

.tablenav .actions {
  overflow: visible;
}

.tablenav .actions {
  padding: 0 8px 0 0;
}

.tablenav .actions select {
  float: left;
  margin-right: 6px;
  max-width: 12.5rem;
}

select {
  font-size: 14px;
  line-height: 2;
  color: #2c3338;
  border-color: #8c8f94;
  box-shadow: none;
  border-radius: 3px;
  padding: 0 24px 0 8px;
  min-height: 30px;
  max-width: 25rem;
  -webkit-appearance: none;
  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
  background-size: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.alignleft {
  float: left;
}

.tablenav input,
.tablenav select,
.tablenav input,
.tablenav select {
  height: 32px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #ededed;
  //color: white;
}
input[type=checkbox]:checked::before {
  content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
  margin: -.1875rem 0 0 -.25rem;
  height: 1.3125rem;
  width: 1.3125rem;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before {
  //float:left;
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  //speak: never;
  -webkit-font-smoothing: antialiased;
}
.zoom:hover{
  cursor: zoom-in;
  //transform: scale(1.2);
}
.img{
margin-right: -351px;
}

th#select-all {
  width: 10px;
}

.cours{
  background-color: #60beb3;
}

.text-table{
  color: #2271b1;
}

.text-aladin{
  color: #324161;
  font-weight: bold;
}
.text-header{
  color: #2271b1;
  text-align:center;
}

span{
  font-weight: bold;
  font-size: 14px;
}

.text-detail{
  margin: 0;
  font-style: italic;
}
.modal:hover{
  cursor: zoom-out;
}