<div class="containerr">
  <nav
  id="main-navbar"
  class="navbar navbar-expand-lg navbar-light  fixed-top"
  >
<!-- Container wrapper -->

<div class="container-fluid">
 <!-- Toggle button
 <button
         class="navbar-toggler"
         type="button"
         data-mdb-toggle="collapse"
         data-mdb-target="#sidebarMenu"
         aria-controls="sidebarMenu"
         aria-expanded="false"
         aria-label="Toggle navigation"
         >
   <i class="fas fa-bars"></i>
 </button>-->

 <!-- Brand -->
 <a class="navbar-brand" href="/">
   <img
        src="assets/image/logoblanc.png"
        height="35"
        title="ALADIN"
        loading="lazy"
        />
 </a>
 <!-- Search form
 <form class="d-none d-md-flex input-group w-auto my-auto">
   <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder='Search (ctrl + "/" to focus)'
          style="min-width: 225px"
          />
   <span class="input-group-text border-0"
         ><i class="fas fa-search"></i
     ></span>
 </form>-->

 <!-- Right links -->
 <ul class="navbar-nav ms-auto d-flex flex-row">
   <!-- Notification dropdown -->
   <li class="nav-item dropdown mg-lf-12">
     <a
        class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
        href="#"
        data-target="#navbarDropdownMenuLink"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
        >
       <i class="fal fa-bell fa-2x"></i>
       <span class="badge rounded-pill badge-notification bg-danger">{{cust_counter}}</span
         >
     </a>
     <ul
         class="dropdown-menu dropdown-menu-right"
         aria-labelledby="navbarDropdownMenuLink"
         id="navbarDropdownMenuLink"
         >
       <li><a class="dropdown-item" href="#">1</a></li>
       <li><a class="dropdown-item" href="#">2</a></li>
       <li>
         <a class="dropdown-item" href="#">3</a>
       </li>
     </ul>
   </li>

   <!-- Icon
   <li class="nav-item">
     <a class="nav-link me-3 me-lg-0" href="#">
       <i class="fas fa-fill-drip"></i>
     </a>
   </li>-->
   <!-- Icon
   <li class="nav-item me-3 me-lg-0">
     <a class="nav-link" href="#">
       <i class="fab fa-github"></i>
     </a>
   </li>-->



   <!-- Avatar
   <li class="nav-item dropdown">
     <a
        class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
        >
       <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
            />
     </a>
     <ul
         class="dropdown-menu dropdown-menu-end"
         aria-labelledby="navbarDropdownMenuLink"
         >
       <li><a class="dropdown-item" href="#">My profile</a></li>
       <li><a class="dropdown-item" href="#">Settings</a></li>
       <li><a class="dropdown-item" href="#">Logout</a></li>
     </ul>
   </li>-->
 </ul>
</div>
<!-- Container wrapper -->

</nav>

</div>

  <!-- Navbar -->
  <div class="container">
      <nav class="nav-sous">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-bord-tab" data-toggle="tab" data-target="#nav-bord" type="button" role="tab" aria-controls="nav-bord" aria-selected="true">TABLEAU DE BORD</button>
          <button class="nav-link" id="nav-users-tab" data-toggle="tab" data-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Utilisateurs</button>
          <button class="nav-link" id="nav-Partenaires-tab" data-toggle="tab" data-target="#nav-Partenaires" type="button" role="tab" aria-controls="nav-Partenaires" aria-selected="false">Partenaires</button>
          <button class="nav-link" id="nav-order-tab" data-toggle="tab" data-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="false">Commandes</button>

          </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <!--tableau de bord-->
          <div class="tab-pane fade show active" id="nav-bord" role="tabpanel" aria-labelledby="nav-bord-tab">
              <section>
                  <div class="row">
                    <!----
                      <div class="col-2">
                          <div class="card">
                              <div class="card-body">
                                  <div class="eye">
                                  <i class="fal fa-eye fa-2x"></i>
                                  </div>
                                  <br>
                                  <strong>332030</strong>
                                  <p>visiters</p>
                              </div>
                          </div>
                      </div>
                    -->
            
                      <div class="col-2">
                          <div class="card">
                              <div class="card-body">
                                  <div class="eye">
                                      <i class="fal fa-cart-arrow-down fa-2x"></i>
                                  </div>
                                  <br>
                                  <strong>{{new}}</strong>
                                  <p>Nouvelles commandes</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="card">
                              <div class="card-body">
                                  <div class="eye">
                                      <i class="fal fa-shopping-cart fa-2x"></i>
                                  </div>
                                  <br>
                                  <strong>{{pen}}</strong>
                                  <p>commandes en attentes</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-2">
                          <div class="card">
                              <div class="card-body">
                                  <div class="eye">
                                   <i class="fal fa-shopping-cart-up fa-2x"></i>
                                  </div>
                                  <br>
                                  <strong>{{ok}}</strong>
                                  <p>commandes terminees</p>
                              </div>
                          </div>
                      </div>
                      <!----
                      <div class="col-2">
                          <div class="card">
                              <div class="card-body">
                                  <div class="eye">
                                      <i class="fal fa-comments fa-2x"></i>
                                  </div>
                                  <br>
                                  <strong>332030</strong>
                                  <p>Commentaires</p>
                              </div>
                          </div>
                      </div>
                    -->
                      <div class="col-2">
                          <div class="card">
                              <div class="card-body">
                                  <div class="eye">
                                      <i class="fal fa-users fa-2x"></i>
                                  </div>
                                  <br>
                                  <strong>{{cust_counter}}</strong>
                                  <p>Clients</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <section>
                <div class="row">
                  <div class="col-12">
                    <div class="card card1">
                      <div class="card-header ">Vente et revenus</div>
                      <div class="card-body">

                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!---->
              <section>
                <div class="row">
                  <div class="col-4">
                    <div class="card">
                      <div class="card-header">Visiteurs</div>
                   
                      <div class="card-body">

                      </div>
                    </div>
                  </div>
<!----
                  <div class="col-4">
                    <div class="card card3">
                      <div class="card-header">Derniers Livraisons</div>
                      <div class="card-body">
                        <ul>
                        <img class="img" src="assets/image/polo.jpg" height="85" alt=""><button class="livre">Livre</button>
                        <h6>Polo</h6>
                        <strong>polo rouge flex coton 2g</strong>
                        <p class="date">21-05-2021</p>
                        </ul>
                        <ul>
                          <img class="img" src="assets/image/polo.jpg" height="85" alt=""><button class="livre">Livre</button>
                          <h6>Polo</h6>
                          <strong>polo rouge flex coton 2g</strong>
                          <p class="date">21-05-2021</p>
                        </ul>
                      </div>
                    </div>
                  </div>
                -->
                  <div class="col-4">
                    <div class="card">
                      <div class="card-header"> Partenaires</div>
                      <div class="card-body">

                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
          </div>



          <!--Utilisateur-->
          <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
            <h3>Gestion des Utilisateurs</h3>
          <ul style="margin-top: 22px;" class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active use" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Creer un utilisateur</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link use" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Liste des utilisateurs</button>
            </li>
            
          </ul>
          <div class="tab-content" id="pills-tabContent" style="margin-top: 34px;">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <form>
                <div class="form-row">
                  <div class="col-4">
                    <input  type="text" name="name" class="form-control"  placeholder="Nom" [(ngModel)]="register.name">
                  </div>
                  <div class="col-4">
                    <input type="text" name=lastname class="form-control"  placeholder="Prenoms" [(ngModel)]="register.lastname">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <input  type="text" name="email" class="form-control" [(ngModel)]="register.email" placeholder="E-mail">
                  </div>
                  <div class="col-4">
                    <input type="text" name="phone" class="form-control"  placeholder="Numero de telephone" [(ngModel)]="register.phone">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-4">
                    <select id="inputState"  name="role" class="form-control" (change)="choiserole($event)">
                      <option value="">choisir le poste</option>
                      <option value="Conseiller clients">Conseiller client</option>
                      <option value="Designer">Designer</option>
                      <option value="admin">Admin</option>
                      <option value="dev">Développeur</option>
                    </select>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-4" *ngIf="loading">
                    <mat-progress-spinner
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value">
                </mat-progress-spinner>
                  </div>
                  <div class="col-4">
                    <button class="btne"(click)="Register()" type="submit">Enregistrer</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            
              <table class="table table-bordered table-inverse table-responsive listeuser">
                <thead class="thead-inverse">
                  <tr>
                    <th class="th">Nom & Prenom</th>
                    <th class="th">Email</th>
                    <th class="th">Telephone</th>
                    <th class="th">Poste</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of users">
                      <td scope="row">{{item.name}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.phone}}</td>
                      <td>{{item.role}}</td>
                    </tr>
                    
                  </tbody>
              </table>
            
            </div>
           
          </div>

          </div>
          <!--Fin utilisateurs-->
          <!-- Partener-->
          <div class="tab-pane fade" id="nav-Partenaires" role="tabpanel" aria-labelledby="nav-Partenaires-tab">
                  <h3>Gestion des Partenaires</h3>
                  <ul class="nav  nav-pills mb-3 navba" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link faire active" id="pills-partner-tab" data-toggle="pill" data-target="#pills-partner" type="button" role="tab" aria-controls="pills-partner" aria-selected="true">Liste des Partenaires</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link faire" id="pills-compte-tab" data-toggle="pill" data-target="#pills-compte" type="button" role="tab" aria-controls="pills-compte" aria-selected="false">Approbation compte partenaire</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link faire" id="pills-produit-tab" data-toggle="pill" data-target="#pills-produit" type="button" role="tab" aria-controls="pills-produit" aria-selected="false">Liste d'aprobation des produits</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link faire" id="pills-list-tab" data-toggle="pill" data-target="#pills-list" type="button" role="tab" aria-controls="pills-list" aria-selected="false">Liste des produits</button>
                  </li>
                  <li>
                  <div class="container-fluid">
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                      <button class="btn btn-success" type="submit">Recherche</button>
                    </form>
                  </div>
                  </li>
                </ul>
                
                <div class="tab-content" id="pills-tabContent">
                  <!--Liste des partenaire-->
                  <div class="tab-pane fade show active" id="pills-partner" role="tabpanel" aria-labelledby="pills-partner-tab">
                    <table class="table table-bordered table-responsive" style="margin-top: 55px;">
                      <thead>
                        <tr>
                          <th class="th" scope="col">Nom et prenom</th>
                          <th class="th" scope="col">E-mail</th>
                          <th class="th" scope="col">Boutique</th>
                          <th class="th" scope="col">Pays</th>
                          <th class="th" scope="col">Statut</th>
                          <th class="th" scope="col">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let item of part'>
                          <td *ngIf="item.activated==1">{{item.name}}</td>
                          <td *ngIf="item.activated==1">{{item.email}}</td>
                          <td *ngIf="item.activated==1">{{item.sr}}</td>
                          <td *ngIf="item.activated==1">{{item.country}}</td>
                          <td *ngIf="item.activated==1"><i class="fal fa-check fa-2x" style="color: #27b963;"></i></td>
                          <td *ngIf="item.activated==0"><i class="" style="color: #27b963;"></i></td>
                          <td *ngIf="item.activated==1">{{item.created}}</td>   
                        </tr>
                    
                      </tbody>
                    </table>
                  </div>
                  <!--fin liste partenaire-->
                  <!--Approbation compte partenaire-->
                  <div class="tab-pane fade" id="pills-compte" role="tabpanel" aria-labelledby="pills-compte-tab">
                    <table class="table  table-responsive" style="margin-top: 55px;">
                      <thead>
                        <tr>
                          <th class="th" scope="col">Nom et prenoms</th>
                          <th class="th" scope="col">E-mail</th>
                          <th class="th" scope="col">Boutique</th>
                          <th class="th" scope="col">Pays</th>
                          <th class="th" scope="col">Statut</th>
                          <th class="th" scope="col requete">Date requete</th>
                          <th class="th"></th>
                          <th class="th"></th>
                          <th class="th"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let elts of part">
                          <td  *ngIf="elts.activated==0">{{elts.name}}</td>
                          <td  *ngIf="elts.activated==0">{{elts.email}}</td>
                          <td  *ngIf="elts.activated==0">{{elts.sr}}</td>
                          <td  *ngIf="elts.activated==0">{{elts.country}}</td>
                          <td *ngIf="elts.activated==0"><i class="" style="color: #27b963;"></i></td>
                          <td  *ngIf="elts.activated==0" >{{elts.created}}</td>
                          <td  *ngIf="elts.activated==0"><button type="btn" data-toggle="modal" data-target="#exModal" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;">
                            <i class="fal fa-eye " ></i></button>
                              <!-- Modal -->
                                <div class="modal fade" id="exModal" tabindex="-1" aria-labelledby="exModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">DETAIL</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                       <table class="table table-bordered table-inverse table-responsive">
                                         <thead>
                                           <tr>
                                             <th class="th">Mode payement</th>
                                             <th class="th">Telephone</th>
                                             <th class="th">Ville</th>
                                             <th class="th">Code IBM</th>
                                             <th class="th">N`compte</th>
                                           </tr>
                                           </thead>
                                           <tbody>
                                             <tr>

                                               <td>virement bancaire</td>
                                               <td>3345355</td>
                                               <td>abidjan</td>
                                               <td>1234</td>
                                               <td>1234eergdaewreretete</td>
                                             </tr>
                                           </tbody>
                                       </table>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </td>
                          <td  *ngIf="elts.activated==0"><button type="submit" style="color:white;background-color: #27b963;height:30px;width: 30px; margin:4px;"><i class="fal fa-check " (click)="Allowpartner($event)" [id]="elts.user_id"></i></button></td>
                          <td  *ngIf="elts.activated==0"><button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-ban"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                   <!-- Fin Approbation compte partenaire-->

                  <!--Approbation des produit-->


                  <div class="tab-pane fade" id="pills-produit" role="tabpanel" aria-labelledby="pills-produit-tab">
                    <table class="table  table-responsive" style="margin-top: 55px;">
                      <thead>
                        <tr>
                          <th class="th">image</th>
                          <th class="th" scope="col">Nom du produit</th>
                          <th class="th" scope="col">categorie</th>
                          <th class="th" scope="col">Partenaire</th>
                          <th class="th" scope="col">Prix (Fcfa)</th>
                          <th class="th" scope="col requete">Statut</th>
                          <th class="th">En attente d'approbation</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let item of cloth">
                          <td *ngIf="item.is_ordered==0"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==0">{{item.name_cloths}}</td>
                          <td *ngIf="item.is_ordered==0">Vetement</td>
                          <td *ngIf="item.is_ordered==0">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==0">{{item.price}} </td>

                          <td *ngIf="item.is_ordered==0"><i class="" style="color: #27b963;"></i></td>

                          <td *ngIf="item.is_ordered==0"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead>
                                          <tr>
                                            <th class="th">Taille</th>
                                            <th class="th">Matière</th>
                                            <th class="th">Mode</th>
                                            <th class="th">Description</th>
                                          </tr> 
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">
                                                  {{item.size}}
                                              </td>
                                              <td scope="row">
                                                {{item.material}}
                                            </td>
                                            <td scope="row">
                                              {{item.mode}}
                                          </td>
                                          
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: #27b963;height:30px;width: 30px;"><i class="fal fa-check " (click)="Allowproduct($event)" [id]="item.clt_id" [title]="isclth" ></i></button>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-ban"></i></button>
                        </td>
                        </tr>

                        <tr  *ngFor="let item of pack">
                          <td *ngIf="item.is_ordered==0"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==0">{{item.name_packaging}}</td>
                          <td *ngIf="item.is_ordered==0">Emballage</td>
                          <td *ngIf="item.is_ordered==0">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==0">{{item.price}} </td>
                          <td *ngIf="item.is_ordered==0"><i class="" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==0"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#exampleModal1">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead >
                                          <tr>
                                            <th class="th">Dimension</th>
                                            <th class="th">Material</th>
                                            <th class="th">Description</th>

                                          </tr>
                                          </thead>
                                          <tbody>

                                            <tr>
                                              <td scope="row">{{item.dim}}</td>
                                              <td scope="row">{{item.material}}</td>
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>

                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button  *ngIf="item.is_ordered==0" type="submit" style="color:white;background-color: #27b963;height:30px;width: 30px;"><i class="fal fa-check " (click)="Allowproduct($event)" [id]="item.pack_id" [title]="ispack" ></i></button>
                          <button  *ngIf="item.is_ordered==0" type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-ban"></i></button></td>
                        </tr>

                        <tr  *ngFor="let item of gadget">
                          <td *ngIf="item.is_ordered==0"> <img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==0">{{item.name_gadget}}</td>
                          <td *ngIf="item.is_ordered==0">Gadgets</td>
                          <td *ngIf="item.is_ordered==0">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==0">{{item.price}} </td>
                          <td *ngIf="item.is_ordered==0"><i class="" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==0"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#exampleModal2">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                       <thead>
                                          <tr>
                                            <th class="th">Taille</th>
                                            <th class="th">Matière</th>
                                            <th class="th">Dimension</th>
                                            <th class="th">Description</th>
                                          </tr> 
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">
                                                  {{item.size}}
                                              </td>
                                              <td scope="row">
                                                {{item.material}}
                                            </td>
                                            <td scope="row">
                                              {{item.dim}}
                                            </td>
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button *ngIf="item.is_ordered==0" type="submit" style="color:white;background-color: #27b963;height:30px;width: 30px;"><i class="fal fa-check " (click)="Allowproduct($event)" [id]="item.gadg_id" [title]="isgadg" ></i></button>
                          <button  *ngIf="item.is_ordered==0" type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-ban"></i></button>

                        </td>

                        </tr>

                        <tr  *ngFor="let item of disp">
                          <td *ngIf="item.is_ordered==0"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==0">{{item.name_display}}</td>
                          <td *ngIf="item.is_ordered==0">Affichage</td>
                          <td *ngIf="item.is_ordered==0">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==0">{{item.price}} </td>
                          <td *ngIf="item.is_ordered==0"><i class="" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==0"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#exampleModal3">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead >
                                          <tr>
                                            <th class="th">Dimension</th>
                                            <th class="th">Grammage</th>
                                            <th class="th">Description</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">{{item.dim}}</td>
                                              <td scope="row">{{item.gram}}</td>
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>

                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: #27b963;height:30px;width: 30px;"><i class="fal fa-check " (click)="Allowproduct($event)" [id]="item.disp_id" [title]="isdisp"></i></button>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-ban"></i></button></td>
                        </tr>


                        <tr  *ngFor="let item of print">
                          <td *ngIf="item.is_ordered==0"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==0">{{item.name_printed}}</td>
                          <td *ngIf="item.is_ordered==0">Imprimés</td>
                          <td *ngIf="item.is_ordered==0">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==0">{{item.price}} </td>
                          <td *ngIf="item.is_ordered==0"><i class="" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==0"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#exampleModal4">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead >
                                          <tr>
                                            <th class="th">Dimension</th>
                                            <th class="th">Grammage</th>
                                            <th class="th">pellicule</th>
                                            <th class="th">Description</th>

                                          </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">{{item.dim}}</td>
                                              <td scope="row">{{item.gram}}</td>
                                              <td scope="row">{{item.pellicule}}</td>
                                              <td scope="row">{{item.comment}}</td>

                                            </tr>

                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: #27b963;height:30px;width: 30px;"><i class="fal fa-check " (click)="Allowproduct($event)" [id]="item.print_id" [title]="isprint" ></i></button>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-ban"></i></button></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                   <!-- Fin Approbation des produit-->



                    <!--Liste des produit-->
                  <div class="tab-pane fade" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
                    <table class="table  table-responsive" style="margin-top: 55px;">
                      <thead>
                        <tr>
                          <th class="th" >image</th>
                          <th class="th" scope="col">Nom du produit</th>
                          <th class="th" scope="col">categorie</th>
                          <th class="th" scope="col">Partenaire</th>
                          <th class="th" scope="col">Prix unitaire (fcfa)</th>
                          <th class="th" scope="col requete">Statut</th>

                        </tr>
                      </thead>
                      <tbody>
<span class="text ">Vetement</span>
<hr>
                        <tr *ngFor="let item of cloth">
                          <td *ngIf="item.is_ordered==1"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==1">{{item.name_cloths}}</td>
                          <td *ngIf="item.is_ordered==1">Vetement</td>
                          <td *ngIf="item.is_ordered==1">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==1">{{item.price}}</td>
                          <td *ngIf="item.is_ordered==1"><i class="fal fa-check fa-2x" style="color: #27b963;"></i></td>

                          <td *ngIf="item.is_ordered==1"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#examplev">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="examplev" tabindex="-1" aria-labelledby="exampleLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead>
                                          <tr>
                                            <th class="th">Taille</th>
                                            <th class="th">Matière</th>
                                            <th class="th">Mode</th>
                                            <th class="th">Description</th>
                                          </tr> 
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">
                                                  {{item.size}}
                                              </td>
                                              <td scope="row">
                                                {{item.material}}
                                            </td>
                                            <td scope="row">
                                              {{item.mode}}
                                          </td>
                                          
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-trash-alt"></i></button></td>
                        <td>
                        </tr>

                        <span class="text ">Affichage</span>
                        <hr>
                        <tr *ngFor="let item of disp">
                          <td *ngIf="item.is_ordered==1"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==1">{{item.name_display}}</td>
                          <td *ngIf="item.is_ordered==1">Affichage</td>
                          <td *ngIf="item.is_ordered==1">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==1">{{item.price}}</td>
                          <td *ngIf="item.is_ordered==1"><i class="fal fa-check fa-2x" style="color: #27b963;"></i></td>

                          <td *ngIf="item.is_ordered==1"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#example87">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="example87" tabindex="-1" aria-labelledby="exampleLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead >
                                          <tr>
                                            <th class="th">Dimension</th>
                                            <th class="th">Grammage</th>
                                            <th class="th">Description</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">{{item.dim}}</td>
                                              <td scope="row">{{item.gram}}</td>
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-trash-alt"></i></button></td>
                        <td>
                        </tr>

<span class="text ">Gadgets</span>
<hr>
                        <tr *ngFor="let item of gadget">
                          <td *ngIf="item.is_ordered==1"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==1">{{item.name_gadget}}</td>
                          <td *ngIf="item.is_ordered==1">Gadgets</td>
                          <td *ngIf="item.is_ordered==1">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==1">{{item.price}}</td>
                          <td *ngIf="item.is_ordered==1"><i class="fal fa-check fa-2x" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==1"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#example65">
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="example65" tabindex="-1" aria-labelledby="exampleLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead>
                                          <tr>
                                            <th class="th">Taille</th>
                                            <th class="th">Matière</th>
                                            <th class="th">Dimension</th>
                                            <th class="th">Description</th>
                                          </tr> 
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td scope="row">
                                                  {{item.size}}
                                              </td>
                                              <td scope="row">
                                                {{item.material}}
                                            </td>
                                            <td scope="row">
                                              {{item.dim}}
                                            </td>
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-trash-alt"></i></button></td>
                        <td>
                        </tr>





<span class="text ">Emballage</span>
<hr>
                        <tr *ngFor="let item of pack">
                          <td *ngIf="item.is_ordered==1"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==1">{{item.name_packaging}}</td>
                          <td *ngIf="item.is_ordered==1">Emballage</td>
                          <td *ngIf="item.is_ordered==1">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==1">{{item.price}}</td>
                          <td *ngIf="item.is_ordered==1"><i class="fal fa-check fa-2x" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==1"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#example45" >
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="example45" tabindex="-1" aria-labelledby="exampleLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                        <thead >
                                          <tr>
                                            <th class="th">Dimension</th>
                                            <th class="th">Material</th>
                                            <th class="th">Description</th>

                                          </tr>
                                          </thead>
                                          <tbody>

                                            <tr>
                                              <td scope="row">{{item.dim}}</td>
                                              <td scope="row">{{item.material}}</td>
                                              <td scope="row">{{item.comment}}</td>
                                            </tr>

                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-trash-alt"></i></button></td>
                        <td>
                        </tr>





<span class="text ">Imprimés</span>
<hr>
                        <tr *ngFor="let item of print">
                          <td *ngIf="item.is_ordered==1"><img [src]="item.img" height="80" alt=""> </td>
                          <td *ngIf="item.is_ordered==1">{{item.name_printed}}</td>
                          <td *ngIf="item.is_ordered==1">Imprimés</td>
                          <td *ngIf="item.is_ordered==1">{{item.name}}</td>
                          <td *ngIf="item.is_ordered==1">{{item.price}}</td>
                          <td *ngIf="item.is_ordered==1"><i class="fal fa-check fa-2x" style="color: #27b963;"></i></td>
                          <td *ngIf="item.is_ordered==1"><button type="btn" style="color:white;background-color: #19b5fe;height:30px;width: 30px; margin:4px;" data-toggle="modal" data-target="#examplei5" >
                            <i class="fal fa-eye " ></i></button>
                            <div class="modal fade" id="examplei5" tabindex="-1" aria-labelledby="exampleLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-body">
                                      <table class="table table-bordered table-inverse table-responsive" style="border: none;width:100%;margin-left: 120px;">
                                      <thead>

                                        <tr>
                                          <th class="th">Dimension</th>
                                          <th class="th">Grammage</th>
                                          <th class="th">pellicule</th>
                                          <th class="th">Description</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td scope="row">{{item.dim}}</td>
                                            <td scope="row">{{item.gram}}</td>
                                            <td scope="row">{{item.pellicule}}</td>
                                            <td scope="row">{{item.comment}}</td>

                                          </tr>

                                        </tbody>
                                      </table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                 </div>
                                </div>
                              </div>
                            </div>
                          <button type="submit" style="color:white;background-color: red;height:30px;width: 30px;"><i class="fal fa-trash-alt"></i></button></td>
                        <td>
                        </tr>
        
        
                      </tbody>

                    </table>
                  </div>
                </div>

          </div>
          <!--Fin Partener-->
          
          <!--Commandes-->
          <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">

            <section class=" header-text">
              <div class="container">
               </div>
                <div class="wrap">
                  <h1 class="heading-inline">Gestion des commandes</h1>
                  <hr class="header-end">
                  <ul class='subsubsub'>
                    <li class='all'><a href="#" class="current" aria-current="page">Tous <span class="count">(10)</span></a> |</li>
                    <li class='publish'><a href="#">En attente <span class="count">(10)</span></a> |</li>
                    <li class='encours'><a href="#">En cours <span class="count">(10)</span></a> |</li>
                    <li class='finish'><a href="#">Terminées <span class="count">(10)</span></a> |</li>
                    <li class='ferme'><a href="#">Annulées <span class="count">(10)</span></a></li>
                  </ul>

                  <form id="posts-filter" method="get">

                    <p class="search-box">
                      <label class="screen-reader-text" for="post-search-input">Recherche Commande:</label>
                      <input type="search" id="post-search-input" name="s" value="" />
                      <input type="submit" id="search-submit" class="button" value="Recherche Commande"  />
                    </p>

                    <div class="tablenav top">
                        <div class="alignleft actions bulkactions">
                          <label for="bulk-action-selector-top" class="screen-reader-text">Sélectionnez l’action groupée</label>
                          <select name="action" id="bulk-action-selector-top">
                            <option value="-1">Actions groupées</option>
                            <option value="edit" class="hide-if-no-js">Modifier</option>
                            <option value="trash">Mettre à la corbeille</option>
                          </select>
                          <input type="submit" id="doaction" class="button action" value="Appliquer"  />
                        </div>
                        <div class="alignleft actions bulkactions">
                          <select  name='date' id='product_cat' class='dropdown_date' >
                            <option value='' selected='selected'>Toutes les dates</option>
                            <option class="level-0" value="apprentissage">Aujourd'hui</option>
                            <option class="level-0" value="apprentissage">Hier</option>
                          </select>
                          <select name="customer_type" id="dropdown_customer_type">
                            <option value="">Filtrer par client enregistré</option>
                          </select>
                          <input type="submit" name="filter_action" id="post-query-submit" class="button" value="Filtrer" />
                        </div>
                    </div>
                  </form>
               </div>
          </section>

          <section class="cart-block">
              <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class="text-header">
                                  <tr>
                                      <th scope="col" id="select-all" class="checkbox" ><input type="checkbox"></th>
                                      <th scope="col" class="entete">Commande</th>
                                      <th scope="col" class="entete">Date</th>
                                      <th scope="col" class="entete">Vendeur</th>
                                      <th scope="col" class="entete">Etat</th>
                                      <th scope="col" class="entete">Détails</th>

                                  </tr>
                              </thead>
                              <tbody>
                              <!---- *ngFor="let item of order-->
                                  <tr hidden>
                                      <td scope="col checkbox"><input type="checkbox"></td>
                                      <td class="text-table"># 35 scream</td>
                                      <td class="text-table">
                                        <div>
                                          <a type="button" data-toggle="modal" data-target="#exampModal">
                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                          </a>
                                         
                                          <div class="modal fade" id="exampModal" tabindex="-1" aria-labelledby="exampModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Commande N 37</h5>
                                                  <a href="" class="btn  bg-success text-right">Terminée</a>
                                                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  <div class="container-fluid">
                                                    <div class="row">
                                                      <div class="col">
                                                        <p>Détails de facturation</p>
                                                        <p>Nom et Prénom</p>
                                                        <p>Lieu d'habitation</p>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col">
                                                        <p>Email</p>
                                                        <p>acheteur@acheteur.com</p>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col">
                                                        <p>Téléphone</p>
                                                        <p>00000000000</p>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col">
                                                        <p>Paiement via</p>
                                                        <p>Paiement à la livraison</p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary text-left" data-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          10 juin 2021</div>
                                      </td>
                                      <td class="text-aladin">ALADIN</td>
                                      <td>
                                        <a href="" class="btn  bg-success">Terminée</a>
                                      </td>
                                      <td class="text-center">
                                        <span>Paul Martin. Abidjan, Yopougon Oasis</span>
                                        <p class="text-detail">via Paiement à la livraison</p>
                                      </td>
                                  </tr>

                              </tbody>
                           
                          </table>
                          <div class="tablenav top">

                            <div class="alignleft actions bulkactions">
                              <label for="bulk-action-selector-top" class="screen-reader-text">Sélectionnez l’action groupée</label>
                              <select name="action" id="bulk-action-selector-top">
                                <option value="-1">Actions groupées</option>
                                <option value="edit" class="hide-if-no-js">Modifier</option>
                                <option value="trash">Mettre à la corbeille</option>
                              </select>
                              <input type="submit" id="doaction" class="button action" value="Appliquer"  />
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </section>

          </div>
          <!--Fin Commandes-->
      </div>
  </div>
